/* Styles go here */

#content {
  margin-bottom: 4em;
}

#add_button {
    margin-left: 27.5%;
    margin-top: 5%;
}

#sku_input {
    margin-bottom: 2%;
}

#send_button {
    margin-right: 18.5%;
}

#card_one {
    margin-left: 8%;
}

#trash_icon {
    margin-top: 50%;
}